.game-gallery {
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  h2 {
    font-size: 2rem;
  }

  img {
    max-width: 80%;
    cursor: pointer;
    
    border-radius: 1rem;

    &.active {
      border: 0.2rem solid var(--main-yellow);
      filter: drop-shadow(0 0 5px #000);
    }
 }

  &-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0;
    
    &-item {
      position: relative;
      display: flex;
      justify-content: center;

      button {
        position: absolute;
        right: 2.5rem;
        bottom: 1rem;
        z-index: 1;
      }
    }
  }

  &-add {
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--main-blue);
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}