.game-list-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 2rem 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--main-blue);

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 4rem 1rem 4rem;
    }
    
}

// new party & h2
.game-list-header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
}

.game-list-header h2 {
    font-family: 'Aboreto', display;
    font-weight: bold;
    font-size: 2rem;
    color: var(--main-blue);
    color: black;

    @media (min-width: 768px) {
        margin-right: 4rem;;
    }
}

//button
.classic {
        width: fit-content;
        background-color: hsl(210, 86%, 37%);
        border: none;
        padding: 0.8em;
        border-radius: 0.5em;
        color: white;
}

.classic:hover {
    background-color: hsl(210, 86%, 26%);
    cursor: pointer;
}

.game-list-header input {
    align-self: center;
    width: 11rem;
    border-radius: 1rem;
    border: none;
    padding: 0.4rem 0.6rem;

    @media (min-width: 768px) {
        margin-left: 1rem;
    }
}

.game-list-header .search-button {
    display: flex;
    flex-direction: row;
}

.search-button-green {
    background-color: green;
}

.search-button-red {
    background-color: red;
}

.search-button-container {
    position: relative;
}


.play-icon
{
    transition: all 0.075s ease-in-out;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-color:var(--main-blue);
    border-radius: .4rem;

    &-container {
        position: relative;

        &:hover .play-icon {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}

.pause-icon
{
    transition: all 0.075s ease-in-out;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-color:var(--main-blue);
    border-radius: .4rem;

    &-container {
        position: relative;
        margin: .5rem 0 .5rem 2rem;

        &:hover .pause-icon {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}