.game-list-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin: 2rem 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--main-blue);

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 2rem 4rem 1rem 4rem;
    }
    
    &-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }
    }

    &-h2 {
        font-family: 'Aboreto', display;
        font-weight: bold;
        font-size: 2rem;
        color: var(--main-blue);
        color: black;
        text-align: center;
    
        @media (min-width: 768px) {
            margin-right: 4rem;;
        }
    }

    &-new {
        width: fit-content;
        background-color: hsl(210, 86%, 37%);
        border: none;
        padding: 0.8em;
        border-radius: 0.5em;
        color: white;

        &:hover {
            background-color: hsl(210, 86%, 26%);
            cursor: pointer;
        }
    }

    &-search {
        align-self: center;
        width: 11rem;
        border-radius: 1rem;
        border: none;
        padding: 0.4rem 0.6rem;
    
        @media (min-width: 768px) {
            margin-left: 1rem;
        }
    
        &-container {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }
    }

    &-icon{
        transition: all 0.075s ease-in-out;
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid;
        border-color:var(--main-blue);
        border-radius: .4rem;

        &-container {
            position: relative;
            margin-bottom: .5rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
    
            &:hover .game-list-header-icon {
                cursor: pointer;
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }
}

.search-button-green {
    background-color: green;
}

.search-button-red {
    background-color: red;
}