.subscribe {

  margin: 1em 0;
  padding: 0 2em;
  padding-bottom: 2em;

  width: 100%;
  max-width: 300px;

  background-color: var(--main-blue);
  color: var(--light-blue);
  border-radius: 1em;

  h2 {
    font-size: 2em;
    padding: 1em 0;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    input[type="file"] {
      display: none;
    }

    &-avatar-upload {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: var(--light-blue);
      cursor: pointer;
      position: relative;

      img {
        position: absolute;
        right: 0;
        top: 0;
        height: 1em;
      }
    }

    button {
      width: fit-content;

      color: white;
      background-color: #6558f5;
      border: none;
      border-radius: 0.2em;
      padding: 0.5em 1em;
      font-weight: bold;

      &:hover {
        background-color: hsl(245, 89%, 50%);
        cursor: pointer;
      }

    }
  }
}