.character-stats {
  &-section {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;

    input {
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}