.gamecard {
    width: 300px;
    min-height: 400px;
    border: 3px solid var(--main-blue);
    border-radius: 10px;
    position: relative;

    &-img {
        position: absolute;
        object-fit: cover;
        width: 300px;
        height: 400px;
        border-radius: 7px;
    }

    &-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        width: 300px;
        height: 400px;

        &-header {
            background-color: white;
            width: 80%; 
            text-shadow: black 1px 1px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            gap: 1rem;
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 1rem;

            &-h3 {
                font-size: 1.7rem;
                width: calc(100% - 2rem);
                padding: 0 1rem;
                text-align: center;
            }
        }

        &-footer {
            opacity: 0;
            margin: 1.5rem;
            font-size: .9rem;
            transition: 0.5s;
            padding: 1rem;
            background-color: white;
            border: 1px solid black;
            border-radius: 1rem;
        }

        &:hover .gamecard-info-footer {
            opacity: 1;
        }
    }
}

.game-status-ongoing {
    color: green;
}

.game-status-finished {
    color: red;
}

.game-status-inactive {
    color: orange;
}