.game-avatars {
  display: none;

  @media (min-width: 768px) {
    display: initial;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 0 5px #000);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: var(--main-blue); // TODO: changer par un placeholder
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &-name {
          background-color: var(--main-blue);
          padding: 0.8rem;
          position: absolute;
          left: 4.5rem;
          color: white;
          border-radius: 1rem;
          display: none;
        }

        &:hover {
          scale: 110%;

          .game-avatars-list-item-name {
            display: block;
          }
        }

        &-active {
          border: 2px solid var(--main-yellow);
        }
      }
    }
  }
}