.app {
  min-height: 100dvh;
  position: relative;
  &-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  max-width: 100%;
}