.game-list {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.none {
    text-align: center;
}

.character-card-small {
    max-height: 50%;
}