.game {
  width: 100%;

  &-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    &-main {
      grid-template-columns: 3fr 1fr;
    }
  }

  &-map {
    @media (max-width: 767px) {
      display: none;
    }
  }
}