.card {
    color: black;
    background-color: var(--light-blue);
    // max-width: 100%;
}

.card h2 {
    color: var(--light-blue);
    background-color: var(--main-blue);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 0;
    padding: 2rem;

    font-family: 'Aboreto', display;
    font-size: 1.4rem;
    text-align: center;
    @media (min-width: 768px) {
        font-size: 2rem;
        text-align: justify;
    }
    // width: 100%;
    // max-width: 100%;
}

.card p {
    border: 1px solid var(--main-blue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
    // width: 100%;
    // max-width: 100%;
}