.character-card-small {
  width: 100%;
  height: 16rem;
  background-color: var(--main-blue);
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: black 1px 1px 5px;
  
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;

  &-header {
    position: relative;

    &-info {
      &-name {
        font-size: 2rem;
      }
    }

    &-level {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2rem;
    }
  }

  &-main {
    background-color: transparent;
    margin: 0;

    &-stats {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      gap: 1rem;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-weight: bold;
        }
      }
    }
  }

}
