.character-list {
  box-sizing: border-box;
  
  margin: 2rem 0.5rem;
  @media (min-width: 768px) {
    margin: 2rem 4rem 1rem 4rem;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding-bottom: 1rem;
    border-bottom: 2px solid var(--main-blue);

    @media (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    button {
      width: fit-content;
      background-color: hsl(210, 86%, 37%);
      border: none;
      padding: 0.8em;
      border-radius: 0.5em;
      color: white;

      @media (min-width: 768px) {
        // flex-direction: row;
        // justify-content: space-between;
        align-self: center;
      }
    }

    button:hover {
      background-color: hsl(210, 86%, 26%);
      cursor: pointer;
    }

    h2 {
      font-size: 1.8em;
      font-family: 'Aboreto', display;
      font-weight: bold;
    }
  }

  &-cards {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    gap: 2em;
    margin: 2em 0;
  }
}

.none {
  text-align: center;
}

.character-list div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
}