.game-overlay {
    align-self: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-blue);
    z-index: 1;

    align-self: center;
    margin: 3rem;
    border: 3px solid var(--main-blue);
    border-radius: 10px;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


//button close
.game-close-icon
{
    transition: all 0.075s ease-in-out;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid;
    border-color:var(--main-blue);
    border-radius: .4rem;

    &-container {
        position: absolute;
        top: 2rem;
        right: 2rem;

        &:hover .game-close-icon {
            cursor: pointer;
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}