@import 'reset';
@import url(https://fonts.bunny.net/css?family=aboreto:400);

.app {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }
}


.signup-button#signup {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: var(--main-blue);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;

  &:hover {
    background-color: hsl(210, 86%, 40%);
  }

  &.signup-button-light {
    background-color: var(--light-blue);
    color: var(--main-blue);

    &:hover {
      background-color: hsl(212, 52%, 85%);
    }
  }
}


@media (prefers-color-scheme: dark) {
  .app {
    --main-blue: #0d5eaf;
    --light-blue: #e6eef7;
    --main-yellow: #f2cf05;
    --main-red: #c60800;
  }

  .app-alt {
    --main-blue: #0d5eaf;
    --light-blue: #e6eef7;
    --main-yellow: #f2cf05;
    --main-red: #c60800;
  }
}

@media (prefers-color-scheme: light) {
  .app {
    --main-blue: #0d5eaf;
    --light-blue: #e6eef7;
    --main-yellow: #f2cf05;
    --main-red: #c60800;
  }

  .app-alt {
    --main-blue: #0d5eaf;
    --light-blue: #e6eef7;
    --main-yellow: #f2cf05;
    --main-red: #c60800;
  }
}

.app {
  background-color: var(--light-blue);
}

.app .main{
  background-color: var(--light-blue);
}