.game-sheet {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;

  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: 2rem;
    }
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1rem;

    input {
      margin-bottom: 0.5rem;
    }
  }
}