.gameDetailed {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: calc(100% - 2rem);
    padding: 2rem;
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 300px;
}

.game-description {
    text-align : justify;
}

.game-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.dropdown-status select, .dropdown-status option{
    background-color: var(--main-blue);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .25rem 1rem;
    font-weight: bold;

    &:hover {
      background-color: hsl(210, 86%, 45%);
      cursor: pointer;
    }
}





.gallery {
    // background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow-y: scroll;
    height: calc(100% - 4rem);
    margin: 2rem;
}

.gallery img {
    border: 1px solid black;
    border-radius: 2rem;
    width: 200px;
}
